body{
    background-color: rgb(131, 4, 4) !important;
    border: solid 5px green;
    font: normal 13pt Arial;
}
.center{
    display: flex;
    justify-content: center;

}

.cabeça{
    width: 100%;
    height: 70px;
    border-bottom: solid 5px green;
    background-color: brown;
    display: flex;
}
.cabeça-itens{
    width: 100%;
    position: absolute;
}
.h2-cabeça{
    margin-top: -20px;
    margin-left: 20px;
    position: absolute;
    color: aliceblue;

}
.nav-bar{
    position: absolute;
    margin-top: 40px;
}
.nav1{
    text-decoration: none;
    color: aliceblue;
    margin-left: 20px;

    
}

.oferta-container{
    margin: 40px 0px 50px 30px;
    color: aliceblue;
}
.oferta{
    background-color: aliceblue;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 23px 10px 22px;
    border: double 5px green;
    
}
.oferta-txt{
    font-size: 15pt;
    color: green;
    margin: 180px 0px 2px 2px;
    padding: 2px;

}
.img-oferta{
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 10px;
    position: absolute;
    height: 150px;
}
.banner1-container{
    margin: 20px 0px 50px 0px;
}
.banner1{
    width: 1000px;
    height: 200px;
    background-color: rgb(3, 85, 3);
    border: solid white;

}
.banner1-img-container{
    height: 150px;
    width: 150px;
    background-color: aliceblue;
    border-radius: 50%;
    border: double 5px red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 75%;
    margin-top: 20px;
    
}
.banner1-img{
    height: 100px;
}
.banner1-txt{
    font-family: 'Brush Script MT', 'Brush Script Std', 'cursive';
    color: aliceblue;
    position: absolute;
    margin: -100px 0px 0px 50px;
    font-size: 35pt;
}

.produto-global{
    margin: 50px 15px 0 40px;
    color: aliceblue;
}
.produto-container{
    margin: 40px 0px 50px 30px;
    color: aliceblue;
}
.produto{
    background-color: aliceblue;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    display: inline-block;
    margin: 10px 23px 10px 22px;
    border: double 5px green;
    
}
.produto-txt{
    font-size: 15pt;
    color: green;
    margin: 180px 0px 2px 2px;
    padding: 2px;

}
.img-produto{
    border-radius: 10px;
    margin-left: 2%;
    margin-top: 10px;
    position: absolute;
    height: 150px;
}

footer{
    background-color: green;
    border: solid white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navF{
    text-decoration: none;
    color: aliceblue;
    margin-right: 20px;
}